/*
Theme Name: Local 21
Theme URI: http://local21arte.org/
Author: Daniela Cortes
Author URI: http://www.dnnycortes.com/
Description: Templete generado exclusivamente para el uso interno de Local 21
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: fotos, responsive
Text Domain: Local 21
*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Quicksand");
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font: 13px Helmet, Freesans, sans-serif; }

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-black for text */
body, select, input, textarea {
  color: #333; }

a {
  color: #03f; }

a:hover {
  color: #69f; }

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #00a8d8;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #00a8d8;
  color: #fff;
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Print styles!
-------------------------------------------------------------------------------*/
/* Media queries!
-------------------------------------------------------------------------------*/
/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
::-moz-selection {
  background: #414042;
  color: #e3e54d;
  text-shadow: none; }

::selection {
  background: #414042;
  color: #e3e54d;
  text-shadow: none; }

body, html {
  height: 100%;
  position: relative; }

body {
  background: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #414042; }

a {
  text-decoration: none; }

.container {
  max-width: 980px;
  margin: 0 auto; }

.contact-form {
  width: 100%; }

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 15px; } }
.main-header {
  padding: 30px 0; }
  .main-header .container {
    display: flex;
    flex-wrap: wrap; }
    .main-header .container .logo {
      background-image: url("images/logo-local21.png");
      background-size: 100% auto;
      height: 78px;
      width: 220px; }
      .main-header .container .logo a {
        display: inline-block;
        height: 100%;
        text-indent: -9999999px;
        width: 100%; }
    .main-header .container .header-access {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto; }
      .main-header .container .header-access .social-links {
        margin-bottom: 15px; }
        .main-header .container .header-access .social-links .social {
          margin-left: 5px; }
      .main-header .container .header-access .menu-toggle {
        background-image: url("images/icon-menu.png");
        background-size: 100% auto;
        display: inline-block;
        height: 24px;
        text-indent: -99999px;
        width: 45px; }

.main-nav {
  align-content: flex-start;
  background: #414042;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -395px;
  min-width: 340px;
  padding: 15px 15px 15px 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }
  .main-nav .btn-close {
    background: url("images/icon-close.png");
    display: inline-block;
    height: 32px;
    margin-bottom: 15px;
    margin-left: auto;
    text-indent: -99999px;
    width: 32px; }
  .main-nav .menu-menu-principal-container {
    width: 100%; }
  .main-nav .menu {
    width: 100%; }
    .main-nav .menu li {
      line-height: 40px; }
      .main-nav .menu li a {
        color: white;
        display: inline-block;
        text-transform: uppercase;
        width: 100%; }
      .main-nav .menu li.dropdown {
        cursor: pointer;
        margin-left: -19px; }
        .main-nav .menu li.dropdown .sub-menu {
          display: none;
          margin-left: 25px; }
        .main-nav .menu li.dropdown .right-arrow {
          background: url("images/icon-right-arrow.png");
          display: inline-block;
          margin-right: 5px;
          height: 10px;
          width: 10px; }
        .main-nav .menu li.dropdown .down-arrow {
          background: url("images/icon-down-arrow.png"); }

.main-footer {
  background: #414042;
  color: white; }
  .main-footer .pattern {
    background-image: url("images/footer-pattern.jpg");
    height: 70px;
    width: 100%; }
  .main-footer .container {
    padding: 45px 0; }
  .main-footer h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px; }
  .main-footer p {
    font-size: 15px;
    font-weight: normal; }
  .main-footer a {
    color: white;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: underline; }

@media screen and (max-width: 1024px) {
  .main-footer .container {
    padding: 45px 15px; } }
.btn-more {
  background: #414042;
  border-radius: 0 0 5px 5px;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 140px; }
  .btn-more:hover {
    color: white; }

.social {
  display: inline-block;
  height: 27px;
  text-indent: -9999999px;
  width: 27px; }
  .social.facebook {
    background: url("images/icon-facebook.png"); }
  .social.twitter {
    background: url("images/icon-twitter.png"); }
  .social.instagram {
    background: url("images/icon-instagram.png"); }

.divider {
  background: #414042 no-repeat 50% 50%;
  background-size: 55% auto;
  height: 100px; }
  .divider.home {
    background-image: url(images/divider-home.png); }

.breadcrumb {
  display: flex;
  margin-bottom: 30px; }
  .breadcrumb li {
    color: white;
    margin-right: 5px; }
    .breadcrumb li a {
      color: white; }

.single-gallery {
  margin-top: 30px; }
  .single-gallery .gallery .gallery-icon a img {
    width: 90%; }

.overlay-mensaje {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; }
  .overlay-mensaje .actions-content {
    width: 67%;
    margin: 0 auto;
    text-align: right;
    font-size: 18px; }
    .overlay-mensaje .actions-content .btn-close {
      color: #e3e54d;
      font-family: Arial, Baskerville, monospace;
      opacity: 0.65; }
      .overlay-mensaje .actions-content .btn-close:hover, .overlay-mensaje .actions-content .btn-close:focus {
        opacity: 1; }
  .overlay-mensaje .container {
    width: 65%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden; }
    .overlay-mensaje .container .popup-image-hor {
      text-align: left; }
      .overlay-mensaje .container .popup-image-hor img {
        width: 100%;
        height: auto; }
    .overlay-mensaje .container .info {
      float: right;
      width: 50%;
      color: #e3e54d;
      text-align: left;
      font-size: 15px; }
      .overlay-mensaje .container .info h2 {
        color: #e3e54d;
        font-size: 20px;
        margin-bottom: 10px; }
      .overlay-mensaje .container .info .mas-info {
        margin-top: 15px; }
    .overlay-mensaje .container .invitation {
      float: left;
      width: 50%;
      text-align: left; }
    .overlay-mensaje .container p {
      color: #e3e54d;
      font-size: 15px;
      text-align: left; }

.container section h2 {
  background-image: url("images/title-background.png");
  background-position: 50%;
  background-repeat: repeat-x;
  margin-bottom: 15px;
  text-align: center; }
  .container section h2 span {
    background: black;
    color: white;
    display: inline-block;
    font-size: 28px;
    font-weight: normal;
    padding: 10px;
    text-transform: uppercase; }
.container .sec-exposition {
  margin-bottom: 30px; }
  .container .sec-exposition .exposition-container {
    align-items: flex-start;
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    position: relative; }
    .container .sec-exposition .exposition-container img {
      height: auto;
      width: 30%; }
    .container .sec-exposition .exposition-container .exposition-info {
      margin-bottom: 20px;
      padding-left: 2%;
      width: 68%; }
      .container .sec-exposition .exposition-container .exposition-info h3 {
        border-bottom: 1px solid #414042;
        border-top: 1px solid #414042;
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 20px; }
      .container .sec-exposition .exposition-container .exposition-info p {
        margin-bottom: 15px;
        font-size: 16px; }
      .container .sec-exposition .exposition-container .exposition-info .btn-more {
        border-radius: 5px 5px 0 0;
        position: absolute;
        bottom: 10px; }
.container .sec-activities {
  margin-bottom: 30px; }
  .container .sec-activities .activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .container .sec-activities .activities-container .snapshot {
      background: white;
      margin-bottom: 15px;
      min-height: 425px;
      padding: 10px;
      position: relative;
      width: 30%; }
      .container .sec-activities .activities-container .snapshot .category {
        background: #ee8329;
        border-radius: 0 0 5px 5px;
        color: white;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        width: 130px; }
        .container .sec-activities .activities-container .snapshot .category a {
          color: white; }
        .container .sec-activities .activities-container .snapshot .category.instagram {
          background: #3dafaa; }
      .container .sec-activities .activities-container .snapshot img {
        align-self: center;
        display: flex;
        height: auto;
        margin: 0 auto;
        margin-bottom: 15px; }
      .container .sec-activities .activities-container .snapshot h3 {
        font-size: 19px;
        font-weight: normal;
        margin-bottom: 10px; }
      .container .sec-activities .activities-container .snapshot p {
        margin-bottom: 5px; }
      .container .sec-activities .activities-container .snapshot .btn-more {
        bottom: 10px;
        left: 0;
        position: absolute;
        right: 0; }

@media screen and (max-width: 768px) {
  .container .sec-exposition .exposition-container img {
    width: 25%; }
  .container .sec-activities .activities-container .snapshot {
    width: 46%; } }
@media screen and (max-width: 640px) {
  .container .sec-exposition .exposition-container {
    min-height: 450px; }
    .container .sec-exposition .exposition-container img {
      margin-bottom: 15px;
      width: 200px; }
    .container .sec-exposition .exposition-container .exposition-info {
      width: 100%; }
  .container .sec-activities .activities-container .snapshot {
    width: 96%; } }
.container .section h2 {
  background-image: url("images/title-background.png");
  background-position: 50%;
  background-repeat: repeat-x;
  margin-bottom: 15px;
  text-align: center; }
  .container .section h2 span {
    background: black;
    color: white;
    display: inline-block;
    font-size: 28px;
    font-weight: normal;
    padding: 10px;
    text-transform: uppercase; }
.container .section .content {
  align-items: flex-start;
  background: white;
  display: flex;
  margin-bottom: 30px;
  padding: 15px; }
  .container .section .content img {
    height: auto;
    margin-right: 15px;
    width: 30%; }
  .container .section .content .info {
    width: 70%; }
    .container .section .content .info h3 {
      border-bottom: 1px solid #414042;
      border-top: 1px solid #414042;
      font-size: 36px;
      font-weight: normal;
      margin-bottom: 15px;
      padding: 5px 0; }
    .container .section .content .info p {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px; }
    .container .section .content .info ul {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px; }
      .container .section .content .info ul li {
        line-height: 21px;
        width: 50%; }
    .container .section .content .info.seminarios ul li {
      width: 100%; }
    .container .section .content .info.difusion {
      width: 100%; }

.container .section .content.exposiciones {
  flex-wrap: wrap;
  justify-content: space-around; }
  .container .section .content.exposiciones a {
    display: inline-block;
    margin-bottom: 30px;
    width: 30%; }
    .container .section .content.exposiciones a img {
      width: 100%; }
.container .section .content.colaboradores {
  flex-wrap: wrap; }
  .container .section .content.colaboradores .alianzas, .container .section .content.colaboradores .patrocinios, .container .section .content.colaboradores .colaboraciones, .container .section .content.colaboradores .personas {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .container .section .content.colaboradores h3 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 30px;
    padding: 5px 0;
    width: 100%; }
  .container .section .content.colaboradores .personas a {
    color: black;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 15px;
    margin-left: 60px;
    width: 100%; }
  .container .section .content.colaboradores .logo-colaboraciones, .container .section .content.colaboradores .logo-patrocinios, .container .section .content.colaboradores .logo-alianzas {
    margin-bottom: 45px;
    width: 33%; }
  .container .section .content.colaboradores img {
    max-width: 160px;
    width: inherit; }
.container .section .content.difusion {
  flex-wrap: wrap; }
  .container .section .content.difusion a {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%; }

.container .content.presence img {
  width: 100%; }
.container .content.project {
  flex-wrap: wrap; }
  .container .content.project h2 {
    font-size: 22px; }
  .container .content.project p {
    margin-bottom: 20px; }
.container .content.contact {
  flex-wrap: wrap; }
  .container .content.contact h2 {
    font-size: 22px;
    text-align: left;
    width: 100%; }
  .container .content.contact p {
    margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
