.container {

    .section {

        .content {

            &.exposiciones {
                flex-wrap: wrap;
                justify-content: space-around;

                a {
                    display: inline-block;
                    margin-bottom: $margin * 2;
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }
            }

            &.colaboradores {
                flex-wrap: wrap;

                .alianzas, .patrocinios, .colaboraciones, .personas {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                }

                h3 {
                    border-bottom: 2px solid black;
                    border-top: 2px solid black;
                    font-size: 24px;
                    font-weight: bolder;
                    margin-bottom: $margin * 2;
                    padding: 5px 0;
                    width: 100%;
                }

                .personas {

                    a {
                        color: black;
                        display: inline-block;
                        font-size: 17px;
                        margin-bottom: $margin;
                        margin-left: $margin * 4;
                        width: 100%;
                    }
                }

                .logo-colaboraciones, .logo-patrocinios, .logo-alianzas {
                    margin-bottom: $margin * 3;
                    width: 33%;
                }

                img {
                    max-width: 160px;
                    width: inherit;
                }
            }

            &.difusion {
                flex-wrap: wrap;

                a {
                    color: black;
                    font-size: 20px;
                    margin-bottom: 10px;
                    width: 100%;
                }
            }
        }
    }
}