.container {

    section {

        h2 {
            background: {
                image: url('images/title-background.png');
                position: 50%;
                repeat: repeat-x;
            }
            margin-bottom: $margin;
            text-align: center;

            span {
                background: black;
                color: white;
                display: inline-block;
                font-size: 28px;
                font-weight: normal;
                padding: 10px;
                text-transform: uppercase;
            }
        }
    }

    .sec-exposition {
        margin-bottom: $margin * 2;

        .exposition-container {
            align-items: flex-start;
            background: white;
            display: flex;
            flex-wrap: wrap;
            padding: $padding;
            position: relative;

            img {
                height: auto;
                width: 30%;
            }

            .exposition-info {
                margin-bottom: 20px;
                padding-left: 2%;
                width: 68%;

                h3 {
                    border-bottom: 1px solid $sec-color;
                    border-top: 1px solid $sec-color;
                    font-size: 36px;
                    font-weight: normal;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: $margin;
                    font-size: 16px;
                }

                .btn-more {
                    border-radius: 5px 5px 0 0;
                    position: absolute;
                    bottom: 10px;
                }
            }
        }
    }

    .sec-activities {
        margin-bottom: $margin * 2;

        .activities-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .snapshot {
                background: white;
                margin-bottom: $margin;
                min-height: 425px;
                padding: 10px;
                position: relative;
                width: 30%;

                .category {
                    background: $category-taller;
                    border-radius: 0 0 5px 5px;
                    color: white;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    padding: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    width: 130px;

                    a {
                        color: white;
                    }

                    &.instagram {
                        background: $category-instagram;
                    }
                }

                img {
                    align-self: center;
                    display: flex;
                    height: auto;
                    margin: 0 auto;
                    margin-bottom: $margin;
                }

                h3 {
                    font-size: 19px;
                    font-weight: normal;
                    margin-bottom: 10px;
                }

                p {
                    margin-bottom: 5px;
                }

                .btn-more {
                    bottom: 10px;
                    left: 0;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}



@media screen and ( max-width: 768px ) {
    .container {

        .sec-exposition {

            .exposition-container {

                img {
                    width: 25%;
                }
            }
        }

        .sec-activities {

            .activities-container {

                .snapshot {
                    width: 46%;
                }
            }
        }
    }
}

@media screen and ( max-width: 640px ) {
    .container {

        .sec-exposition {

            .exposition-container {
                min-height: 450px;

                img {
                    margin-bottom: $margin;
                    width: 200px;
                }

                .exposition-info {
                    width: 100%;
                }
            }
        }

        .sec-activities {

            .activities-container {

                .snapshot {
                    width: 96%;
                }
            }
        }
    }
} 