.container {

    .content {
    
        &.presence {
    
            img {
                width: 100%;
            }
        }

        &.project {
            flex-wrap: wrap;

            h2 {
                font-size: 22px;
            }

            p {
                margin-bottom: 20px;
            }
        }

        &.contact {
            flex-wrap: wrap;

            h2 {
                font-size: 22px;
                text-align: left;
                width: 100%;
            }

            p {
                margin-bottom: $margin;
            }
        }
    }
}