.container {

    .section {

        h2 {
            background: {
                image: url('images/title-background.png');
                position: 50%;
                repeat: repeat-x;
            }
            margin-bottom: $margin;
            text-align: center;

            span {
                background: black;
                color: white;
                display: inline-block;
                font-size: 28px;
                font-weight: normal;
                padding: 10px;
                text-transform: uppercase;
            }
        }

        .content {
            align-items: flex-start;
            background: white;
            display: flex;
            margin-bottom: $margin * 2;
            padding: $padding;

            img {
                height: auto;
                margin-right: $margin;
                width: 30%;
            }

            .info {
                width: 70%;

                h3 {
                    border-bottom: 1px solid $sec-color;
                    border-top: 1px solid $sec-color;
                    font-size: 36px;
                    font-weight: normal;
                    margin-bottom: $margin;
                    padding: 5px 0;
                }

                p {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: $margin;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: $margin;

                    li {
                        line-height: 21px;
                        width: 50%;
                    }
                }

                &.seminarios {

                    ul {

                        li {
                            width: 100%;
                        }
                    }
                }

                &.difusion {
                    width: 100%;
                }
            }
        }
    }
}