.btn-more {
    background: $sec-color;
    border-radius: 0 0 5px 5px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;

    &:hover {
        color: white;
    }
}

.social {
    display: inline-block;
    height: 27px;
    text-indent: -9999999px;
    width: 27px;

    &.facebook {
        background: url('images/icon-facebook.png');
    }

    &.twitter {
        background: url('images/icon-twitter.png');
    }

    &.instagram {
        background: url('images/icon-instagram.png');
    }
}