.main-footer {
    background: $sec-color;
    color: white;

    .pattern {
        background: {
            image: url('images/footer-pattern.jpg');
        }
        height: 70px;
        width: 100%;
    }

    .container {
        padding: $padding * 3 0;
    }

    h2 {
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
        font-weight: normal;
    }

    a {
        color: white;
        display: inline-block;
        font-size: 16px;
        margin-top: $margin;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1024px) {
    .main-footer {

        .container {
            padding: $padding * 3 15px;
        }
    }
}