.single-gallery {
    margin-top: $margin * 2;

    .gallery {

        .gallery-icon {

            a {

                img {
                    width: 90%;
                }
            }
        }
    }
}