.main-header {
    padding: $padding * 2 0;

    .container {
        display: flex;
        flex-wrap: wrap;

        .logo {
            background: {
                image: url('images/logo-local21.png');
                size: 100% auto;
            }
            height: 78px;
            width: 220px;

            a {
                display: inline-block;
                height: 100%;
                text-indent: -9999999px;
                width: 100%;
            }
        }

        .header-access {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: auto;

            .social-links {
                margin-bottom: $margin;

                .social {
                    margin-left: 5px;
                }
            }
    
            .menu-toggle {
                background: {
                    image: url('images/icon-menu.png');
                    size: 100% auto;
                }
                display: inline-block;
                height: 24px;
                text-indent: -99999px;
                width: 45px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
}