.main-nav {
    align-content: flex-start;
    background: $sec-color;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -395px;
    min-width: 340px;
    padding: $padding $padding $padding 40px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

    .btn-close {
        background: url('images/icon-close.png');
        display: inline-block;
        height: 32px;
        margin-bottom: $margin;
        margin-left: auto;
        text-indent: -99999px;
        width: 32px;
    }

    .menu-menu-principal-container {
        width: 100%;
    }

    .menu {
        width: 100%;

        li {
            line-height: 40px;

            a {
                color: white;
                display: inline-block;
                text-transform: uppercase;
                width: 100%;
            }

            &.dropdown {
                cursor: pointer;
                margin-left: -19px;

                .sub-menu {
                    display: none;
                    margin-left: $margin + 10;
                }

                .right-arrow {
                    background: url('images/icon-right-arrow.png');
                    display: inline-block;
                    margin-right: 5px;
                    height: 10px;
                    width: 10px;
                }

                .down-arrow {
                    background: url('images/icon-down-arrow.png');
                }
            }
        }
    }

}