.overlay-mensaje {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    .actions-content {
        width: 67%;
        margin: 0 auto;
        text-align: right;
        font-size: 18px;

        .btn-close{
            color: $main-color;
            font-family: Arial, Baskerville, monospace;
            opacity: 0.65;

            &:hover, &:focus{
                opacity: 1;
            }
        }
    }

    .container {
        width: 65%;
        margin: 0 auto;
        border: 1px solid white;
        padding: $padding;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;

        .popup-image-hor {
            text-align: left;

            img {
                width: 	100%;
                height: auto;
            }
        }

        .info {
            float: right;
            width: 50%;
            color:$main-color;
            text-align:	left;
            font-size: 	15px;

            h2 {
                color: $main-color;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .mas-info {
                margin-top: 15px;
            }
        }

        .invitation {
            float: left;
            width: 50%;
            text-align: left;
        }

        p {
            color: $main-color;
            font-size: 15px;
            text-align: left;
        }
    }
}