::-moz-selection {
    background:$sec-color;  // personalizar
    color: $main-color; 
    text-shadow: none;
}

::selection {
    background: $sec-color; // personalizar
    color: $main-color; 
    text-shadow: none;
}

body, html {
    height: 100%;
    position: relative;
}

body {
    background: black;
    font-family: $main-font;
    font-weight: lighter;
    font-size: 15px;
    color: $sec-color;
}

a {
    text-decoration: none;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.contact-form {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}