// Colors
$main-color: #e3e54d;
$sec-color: #414042;
$category-taller: #ee8329;
$category-instagram: #3dafaa;

// Margin
$padding: 15px;
$margin: 15px;

// Typography
$main-font: 'Ubuntu', sans-serif;